<ion-content> 
  <div id="wrap">
  <ion-header>
    <header>
      <div class="logo" routerLink="/home"> <img src="../../../assets/img/logo-con-letras.png"></div>
      <div id="menu-adaptado" >
        <ul class="">
          <li class="burger" (click)="toggleMenu()"> 
            <i class="material-icons">{{ isMenuOpen ? "close" : "menu" }}</i>
          </li>
        <li class="menu" [class.is-open]="isMenuOpen">
          <a routerLink="/home" class="menu-item">Inicio</a>
          <a routerLink="/quienes-somos" class="menu-item">Quiénes somos</a>
          <a routerLink="/nuestros-trabajos" class="menu-item">Nuestro trabajos</a>
          <a routerLink="/catalogo" class="menu-item">Catálogo</a>
          <a routerLink="/registro" class="menu-item">Registrate</a>
          <a routerLink="/iniciar-sesion" class="menu-item" >Ingresar</a>
          
        </li>
        </ul>     
       
      </div><!-------cierre menu adaptado--------->
      <div class="haztucotizacion" routerLink="/catalogo"><a>Haz tú cotización</a></div>
     
  
  </header>
  </ion-header>
    
  <div id="contenido">
    <h1>Iniciar Sesión</h1>
    <form [formGroup]="login" (ngSubmit)="insDatos()">
      <label for="rut_empresa">RUT:</label>
      <input type="text" id="rut_empresa" formControlName="rut" name="rut_empresa" placeholder="Ingresa Rut">
      <label for="contrasena">Contraseña:</label>
      <input type="password" id="contrasena" name="contrasena"  formControlName="contrasena" placeholder="Ingresa contraseña">
      <input type="submit" value="Ingresar">
    </form>
  
  
  </div><!-------cierre contenido------>  
    
  <footer>

    <div class="footer-izq">
  
      <img src="../../../assets/img/logo-footer.png">
      <div class="parrafo-footer" ><p>Con 2 años de experiencia fabricando ventanas de la mejor calidad.</p></div>
      <div class="faq" ><img src="../../../assets/img/faq.png"><a routerLink="/preguntas-frecuentes">Preguntas Frecuentes</a></div>
  
    </div>
    <div class="v-line"></div>
  
    <div class="footer-der">
      <h4>Contáctanos</h4>
      <ul>
        <li><img src="../../../assets/img/whatsapp.png">+56 965789532</li>
        <li><img src="../../../assets/img/correo.png"> <a class="btn-mail" routerLink="/contacto">Contáctanos</a></li>
      </ul>
    </div>
    <div class="footer-centro"><p>Derechos Reservados Ventanas Técnicas 2023 ©</p></div>
   </footer> 
  </div><!------CIERRE WRAP-------->
  </ion-content>
  