<ion-content> 
  <div id="wrap">
  <ion-header>
    <header>
      <div class="logo" routerLink="/home"> <img src="../../../assets/img/logo-con-letras.png"></div>
      <div id="menu-adaptado" >
        <ul class="">
          <li class="burger" (click)="toggleMenu()"> 
            <i class="material-icons">{{ isMenuOpen ? "close" : "menu" }}</i>
          </li>
        <li class="menu" [class.is-open]="isMenuOpen">
          <a routerLink="/home" class="menu-item">Inicio</a>
          <a routerLink="/quienes-somos" class="menu-item">Quiénes somos</a>
          <a routerLink="/nuestros-trabajos" class="menu-item">Nuestro trabajos</a>
          <a routerLink="/catalogo" class="menu-item">Catálogo</a>
          <a routerLink="/registro" class="menu-item">Registrate</a>
          <a routerLink="/iniciar-sesion" class="menu-item" >Ingresar</a>
          
        </li>
        </ul>     
       
      </div><!-------cierre menu adaptado--------->
      <div class="haztucotizacion" routerLink="/catalogo"><a>Haz tú cotización</a></div>
     
  
  </header>
  </ion-header>

<div class="detalle-producto">
    <h1>Carrito de compra</h1>       
      <section>
         <ul id="detalle-producto">     
          
          

          <table class="tabla-contenido">
            <thead>
              <tr>
                <th>ventana</th>
                <th>Largo</th>
                
                <th>Ancho</th>
            
                <th>Instalacion</th>

                <th>Cantidad</th>

                <th>Total</th>

                <th>Opciones</th>
              </tr>
            </thead>

            
              <tr *ngFor="let array of carro">
                <td *ngFor="let elemento of array">
                  {{ elemento.tipo | json }}

                </td>
                <td *ngFor="let elemento of array">
                  {{ elemento.largo | json }}

                </td>

                <td *ngFor="let elemento of array">
                  {{ elemento.ancho | json }}

                </td>
                <td *ngFor="let elemento of array">
                  {{ elemento.instalacion | json }}

                </td>
                <td *ngFor="let elemento of array">
                  {{ elemento.cantidad | json }}

                </td>
                <td *ngFor="let elemento of array">
                 $ {{ elemento.total | json }} CLP

                </td>
                <td *ngFor="let elemento of array">

                <button class="btn-borrar" >BORRAR</button>

                </td>
              </tr>
                
                
             
            
          </table>
             

                <li>
                 
            

                  

                
                    
                </li>  
                              
            </ul>
        </section>
    
</div><!---cierre detalle producto-->
<footer>

  <div class="footer-izq">

    <img src="../../../assets/img/logo-footer.png">
    <div class="parrafo-footer" ><p>Con 2 años de experiencia fabricando ventanas de la mejor calidad.</p></div>
    <div class="faq" ><img src="../../../assets/img/faq.png"><a routerLink="/preguntas-frecuentes">Preguntas Frecuentes</a></div>

  </div>
  <div class="v-line"></div>

  <div class="footer-der">
    <h4>Contáctanos</h4>
    <ul>
      <li><img src="../../../assets/img/whatsapp.png">+56 965789532</li>
      <li><img src="../../../assets/img/correo.png"> <a class="btn-mail" routerLink="/contacto">Contáctanos</a></li>
    </ul>
  </div>
  <div class="footer-centro"><p>Derechos Reservados Ventanas Técnicas 2023 ©</p></div>
 </footer> 
 </div><!-----CIERRE WRAP----->
  </ion-content>
  